* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Dosis", sans-serif;
}

header {
  display: flex;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  align-items: center;
  width: 100%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  height: 70px;
  justify-content: space-between;
  padding: 0 30px;
}

header a,
header h1 {
  font-size: 25px;
}

header span {
  color: #fcbf19;
}

header h1 {
  color: rgb(248, 120, 0);
}

header a {
  color: #4c4b48;
  font-size: 20px;
}

header .searchContainer #searchFilter {
  font-size: 16px;
}

header .searchContainer #buttonSearch {
  background-color: #fa6202;
  font-weight: bold;
  color: white;
  padding: 4px;
  font-size: 16px;
  border-radius: 3px;
}

section .favoritesRecipes {
  position: relative;
  display: grid;
  height: 195px;
  background-color: #f0fdf8;
  overflow-y: hidden;
}

.favoritesRecipes h6 {
  color: #4c4b48;
}

.favoritesRecipes .image {
  margin: 8px;
}

.favoritesRecipes .image img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  box-shadow: 1px 1px 10px #899590;
  overflow: hidden;
  border: 3px solid white;
  transition: all ease 300ms;
}

.container-favorites {
  display: flex;
  text-align: center;
  align-items: center;
  padding: 20px 0;
  margin-left: 15px;
}

section .recipes {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.recipes .card-recipe {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px #899590;
  margin: 15px 0;
  background-repeat: no-repeat;
  position: relative;
}

.card-recipe .containerImage {
  width: 100%;
  height: 80%;
  background-size: cover;
}

.card-recipe .containerImage img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
  overflow: hidden;
}

.card-recipe .description {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  height: 50px;
}

.description i {
  color: orangered;
  font-size: 20px;
  border: none;
  background-color: white;
  cursor: pointer;
  margin: 2px;
}

.description h3 {
  color: #303030;
  font-size: 15px;
}

a {
  text-decoration: none;
}

.gold {
  color: gold;
}

#titleRecipe {
  position: absolute;
  top: 2%;
  left: 1%;
  border: 1px solid #ff8102;
  border-radius: 5px;
  background-color: #ff8102;
  color: white;
  padding: 5px;
  font-size: 12px;
}

.titleContainers {
  color: #ff8102;
  margin-left: 8px;
  font-size: 15px;
}

.favoritesRecipes .image img:hover {
  border: 1px solid #ff8102;
  box-shadow: 1px 1px 20px #fa6202;
  transform: scale(1.1);
}

.favoritesRecipes #arrowLeft {
  position: absolute;
  background-image: url("./assets/iconos/arrow-left.svg");
}

.favoritesRecipes #arrowRight {
  position: absolute;
  background-image: url("./assets/iconos/arrow-right.svg");
}

.recipes .card-recipe:hover {
  border: 1px solid #ff8102;
  box-shadow: 1px 1px 20px #fa6202;
}

#titleFavorites {
  margin-top: 5px;
  font-size: 15px;
  margin-left: 40px;
}

#titleRecipes {
  font-size: 25px;
  text-align: center;
}

header #navBar {
  display: none;
}

#bars {
  color: #4f5252;
  background-color: white;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 190px;
  z-index: 999;
  background-color: white;
  backdrop-filter: blur(10px);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  list-style: none;
  font-size: 18px;
  font-weight: bold;
}

.sidebar li a {
  color: #4f5252;
}

.sidebar li a:hover {
  color: #fa6202;
}

.sidebar li {
  margin-top: 10px;
  margin-left: 20px;
}

#hidenSideBar {
  font-size: 25px;
  cursor: pointer;
}


@media only screen and (width >= 768px) {
  section .favoritesRecipes {
    height: 210px;
  }

  .favoritesRecipes h6 {
    font-size: 13px;
  }

  .favoritesRecipes .image img {
    width: 110px;
    height: 110px;
  }

  header #navBar {
    display: none;
  }

  #bars {
    display: block;
  }

}

@media only screen and (width > 1024px) {
  header {
    padding: 0 60px;
  }

  .container-favorites {
    margin-left: 35px;
  }

  .favoritesRecipes .image img {
    width: 130px;
    height: 130px;
  }

  section .favoritesRecipes {
    height: 233px;
  }

  #bars {
    display: none;
  }

  header #navBar {
    display: block;
  }

  nav ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
  }

  nav ul li a {
    color: #4f5252;
    font-weight: bold;
    font-size: 17px;
  }

  nav ul li {
    transition: all ease 300ms;
  }

  nav ul li:hover {
    transform: scale(1.2);
  }

  nav ul li a:hover {
    color: #fa6202;
  }
  
}
